In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv(r'events_log.csv')
data.timestamp = data.timestamp.apply(lambda x: datetime.datetime.utcfromtimestamp(int(x/1000)))

In [3]:
data['day'] = data.timestamp.apply(lambda x: pd.datetime.date(x).day)
data['month'] = data.timestamp.apply(lambda x: pd.datetime.date(x).month)

In [4]:
data.head(5)

,uuid,timestamp,session_id,group,action,checkin,page_id,n_results,result_position,day,month
0,00000736167c507e8ec225bd9e71f9e5,2608-11-08 19:38:23,78245c2c3fba013a,b,searchResultPage,NaN,cbeb66d1bc1f1bc2,5.0,NaN,8,11
1,00000c69fe345268935463abbfa5d5b3,2608-11-08 21:16:45,c559c3be98dca8a4,a,searchResultPage,NaN,eb658e8722aad674,10.0,NaN,8,11
2,00003bfdab715ee59077a3670331b787,2608-11-08 19:55:45,760bf89817ce4b08,a,checkin,30.0,f99a9fc1f7fdd21e,NaN,NaN,8,11
3,0000465cd7c35ad2bdeafec953e08c1a,2608-11-08 19:57:02,fb905603d31b2071,a,checkin,60.0,e5626962a6939a75,NaN,10.0,8,11
4,000050cbb4ef5b42b16c4d2cf69e6358,2608-11-08 19:54:55,c2bf5e5172a892dc,a,checkin,30.0,787dd6a4c371cbf9,NaN,NaN,8,11

In [5]:
data.nunique()

uuid               400165
timestamp            1131
session_id          68028
group                   2
action                  3
checkin                15
page_id            176371
n_results              92
result_position       193
day                     1
month                   1
dtype: int64

## What is their daily overall clickthrough rate? How does it vary between the groups?

This data contain only one day user activity. So, I guess I have to find for that day only. For Overall clickthrough rate I am sampling data where the search results have some count as if there are no search result than user have nothing to click on.

Overall clickthrough rate:

In [34]:
clikcthroughdata = data[(~data.n_results.isna()) & (~data.checkin.isna())]
# clikcthroughdata.groupby(['session_id'])['checkin'].count()

In [20]:
data[data.session_id == "0001e8bb90445cb2"]

,uuid,timestamp,session_id,group,action,checkin,page_id,n_results,result_position,day,month
47697,1eaa372a5f5258b18e49432d557d218e,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,300.0,35ee99beb4fb05f0,NaN,1.0,8,11
97077,3e380afb218e53c58b10e3fac9327ec5,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,150.0,35ee99beb4fb05f0,NaN,1.0,8,11
126645,513833eebc7d5147b6721674823a8666,2608-11-08 20:44:52,0001e8bb90445cb2,b,searchResultPage,NaN,6b7f8832f5b6cc7d,20.0,NaN,8,11
146035,5d923f20cbed5efd81fde24190dce9da,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,30.0,35ee99beb4fb05f0,NaN,1.0,8,11
155624,63c072bd32f25adca6c04d984846733c,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,50.0,35ee99beb4fb05f0,NaN,1.0,8,11
180059,733afac78ae0584dbea5df8083f6e040,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,90.0,35ee99beb4fb05f0,NaN,1.0,8,11
196332,7d6db88c851a5656917e4a176425e290,2608-11-08 20:44:53,0001e8bb90445cb2,b,checkin,420.0,35ee99beb4fb05f0,NaN,1.0,8,11
216712,8a7d707f7bdd5b4bac2a39b43cd16c33,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,240.0,35ee99beb4fb05f0,NaN,1.0,8,11
232576,948f3c30cb585a2db33f61b6c637905e,2608-11-08 20:44:52,0001e8bb90445cb2,b,visitPage,NaN,35ee99beb4fb05f0,NaN,1.0,8,11
239754,992bfb5743a150c69daa45afa11799f6,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,20.0,35ee99beb4fb05f0,NaN,1.0,8,11
242568,9af7d9cf0ecc5eefa9fcc7b8ab93ca18,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,120.0,35ee99beb4fb05f0,NaN,1.0,8,11
257428,a46e8a9cb9e75bdaa9b34acb70a03473,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,40.0,35ee99beb4fb05f0,NaN,1.0,8,11
260517,a65e4db07f6a5703b3e7aa9d7eed506f,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,60.0,35ee99beb4fb05f0,NaN,1.0,8,11
263794,a8832a6f0e115c48bbaa672c7e57ca0d,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,210.0,35ee99beb4fb05f0,NaN,1.0,8,11
298942,beeeef1ec2fc5195b9b1c788dbe25929,2608-11-08 20:44:53,0001e8bb90445cb2,b,checkin,360.0,35ee99beb4fb05f0,NaN,1.0,8,11
388545,f8783f91092b53b4a23826e51fb3e988,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,180.0,35ee99beb4fb05f0,NaN,1.0,8,11
391674,fa83888a4fa15cea98c8c2973768b675,2608-11-08 20:44:52,0001e8bb90445cb2,b,checkin,10.0,35ee99beb4fb05f0,NaN,1.0,8,11